body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0f7fa, #a5d6a7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: rgb(254, 254, 254);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px 
    rgba(199, 76, 76, 0.2);
    text-align: center;
    width: 350px;
    transition: transform 0.3s ease-in-out;
}

.login-container:hover {
    transform: scale(1.03);
}

h1 {
    margin-bottom: 20px;
    color: #2e7d32;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

input:focus {
    border-color: #4caf50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #4caf50, #2e7d32);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(to right, #2e7d32, #1b5e20);
    box-shadow: 0 4px 10px rgba(0, 128, 0, 0.3);
}
.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: 50px; 
    margin-right: 10px; 
}

h1 {
    font-size: 24px;
    color: #5ea183;
    margin: 0;
}
