
button, .btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button {
    background: rgb(21, 135, 89);
    color: white;
}
button:hover {
    background-color: #7ab58d;
    color: black;
}

.btn {
    color: white;
    margin-right: 5px;
}
a {
    text-decoration: none; 
}
.icon-btn {
    width: 30px; 
    height: 30px;
    margin: 0 5px; 
    cursor: pointer; 
    transition: transform 0.2s ease-in-out;
    
}

.icon-btn:hover {
    transform: scale(1.2); 
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

th {
    background: #2ad3b2;
    color: black;
    
}

tr:hover {
    background: #f1f1f1;
}

#adminForm {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

