
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
}

.dashboard-container {
    display: flex;
    height: 100vh; 
}

.sidebar {
    width: 250px; 
    min-height: 100vh; 
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: rgb(241, 240, 240);
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

.profile {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #dfdfdf; 
    width: 100%; 
    margin-bottom: 15px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(43, 151, 117);
    padding: 5px;
}

.profile p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0;
}

.role {
    font-size: 14px;
    background: #16a085;
    padding: 4px 10px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 5px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: rgb(33, 131, 100);
    color: white;
}

nav ul li a img {
    width: 24px; 
    height: 24px;
    transition: 0.3s;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.logout-btn {
    background: #ffabab;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: red;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[name="category_name"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background: rgb(21, 135, 89);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}

button:hover {
    background-color: #7ab58d;
    color: black;
}

.card {
    display: inline-block;
    width: 220px;
    padding: 15px;
    margin: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card p {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
}

.card button:not(.delete-btn) {
    background: #16a085;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #12876f;
}

.delete-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

th {
    background: #2ad3b2;
    color: black;
}

tr:hover {
    background: #f1f1f1;
}

#adminForm {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.icon-btn {
    width: 30px; 
    height: 30px;
    margin: 0 5px; 
    cursor: pointer; 
    transition: transform 0.2s ease-in-out;
}

.icon-btn:hover {
    transform: scale(1.2); 
}
