form {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[name="category_name"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background: rgb(21, 135, 89);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}

button:hover {
    background-color: #7ab58d;
    color: black;
}

.card {
    display: inline-block;
    width: 220px;
    padding: 15px;
    margin: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
/* 针对 delete 和 manage 按钮的图标进行尺寸调整 */
.card button img {
    width: 20px;  /* 调整图标宽度 */
    height: 20px; /* 调整图标高度 */
}

/* 当鼠标悬停时，保持图标放大的效果 */
.card button img:hover {
    transform: scale(1.2); 
}

.card p {
    font-size: 22px;
    margin: 10px 0;
    font-weight: bold;
}

.card button:not(.delete-btn) {
    background-color: #e9eae9;
    
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #12876f;
}

.delete-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}


#adminForm {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.icon-btn {
    width: 30px; 
    height: 30px;
    margin: 0 5px; 
    cursor: pointer; 
    transition: transform 0.2s ease-in-out;
}

.icon-btn:hover {
    transform: scale(1.2); 
}

