
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
}

.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px; 
    min-height: 100vh; 
    background-color: white;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;

}

.profile {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #dfdfdf; 
    width: 100%; 
    margin-bottom: 15px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(43, 151, 117);
    padding: 5px;
    
}

.profile p {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0;
    
}

.role {
    font-size: 14px;
    background: #16a085;
    padding: 4px 10px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: rgb(33, 131, 100);
    color: white;
}
nav ul li a img {
    width: 24px; 
    height: 24px;
    transition: 0.3s;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: rgb(241, 240, 240);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}
.main-content h1 {
    font-size: 30px; 
    font-weight: bold; 
    text-align: left; 
    color: #019566; 
    
}

.header {
    display: flex;
    justify-content: flex-end;
}

.logout-btn {
    background: #ffabab;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.logout-btn:hover
{
    background-color: red;
}
.dashboard-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1;
    background: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: black;
    text-align: center;
    font-family: Arial, sans-serif;
}
.card h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.recent-orders {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recent-orders h2 {
    margin-bottom: 15px;
    color: #333;
}

.recent-orders table {
    width: 100%;
    border-collapse: collapse;
}

.recent-orders th, .recent-orders td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.recent-orders th {
    background: #2ad3b2;
    color: black;
}
