table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid black;
}

th {
    background: #2ad3b2;
    color: black;
}

tr:hover {
    background: #f1f1f1;
}
